<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Assignment3</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
      }
      table {
        background-color: aliceblue;
      }
      th,
      td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      .checkout {
        text-align: right;
      }
    </style>
    <script src="/scripts/cart.js"></script>
  </head>

  <body>
    <header>
      <img src="./banner.jpeg" height="60%" alt="banner">
  </header>

    <nav>
      <a href="/home" id="Homepage"> Home </a>
      <a href="/search" id="Searchpage"> Search </a>
      <a href="/timeline" id="Historypage"> Account </a>
      <a href="/shoppingcart"> Cart </a>
    </nav>

    <main>
      <form action="/orders" method="POST">
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Card#</th>
              <th>Price(CAD)</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <% cartItems.forEach(item => { %>
            <tr class="cart-items">
              <th></th>
              <th id="id<%=item.id %>"><%=item.id %></th>
              <th>$<%=item.price %></th>
              <th><%=item.quantity %></th>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <br />
        <div class="checkout">
          <a href="/profile">
            <button>Go Back</button>
          </a>
        </div>
      </form>
    </main>

    <footer>
      <h5>Copyright © Kai Oh 2022</h5>
    </footer>
  </body>
</html>
